.navigation {
  background-color: rgb(23, 15, 34, 0.5);
  height: 58px;
  padding: 15px 15px 15px 0px;
  
}

.nav-container {
  display: grid;
  grid-template-columns: 100px 130px;
  padding-left: 65px;
}

.navigation ul {
  margin: 0;
  padding-left: 30px;
}

.navigation li { 
  list-style: none;
}

.item {
  padding-right:10px;
  
}


.item button {
  border-radius: 4px 4px 4px 4px;
  display: flex;
  background-color: rgb(23, 15, 34);
  font-size: .9em;
  color: inherit;
  border: none;
  height: 30px;
  width: 100%;
  align-items: center;
  cursor: pointer;
}

.button-title {
  padding-left: 5px;
  font-weight: bold;
  font-size: .85em;
}

.main {
  background-image: url("../../img/main.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 18px;
  height: 18px;
}

.warehouse {
  background-image: url("../../img/warehosue.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 18px;
  height: 18px;
}

@media (max-width: 1080px) {
  .nav-container {
    padding:0;
  }
}

