.nav1-container {
  display: grid;
  justify-content: flex-end;
  padding: 10px 0px 0px 0px;
  margin: 0;
}

.nav1-container ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-column-gap: 0.5px;
  padding: 5px 20px 0px 0px;
  margin: 0;
}

.nav1-container li {
  padding-right: 10px;
}

.nav1-container ul li button {
  border-radius: 4px 4px 4px 4px;
  background-color: rgb(23, 15, 34);
  border: none;
  display: flex;
  color: inherit;
  justify-content: space-around;
  align-items: center;
  font-size: 0.9rem;
  cursor: pointer;
  font-weight: bold;
  height: 35px;
  width: 100%;
}

.img-space {
  margin-right: 5px;
}

.addwarehouse {
  background-image: url("../img/add_warehouse.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 19.17px;
  height: 19.17px;
}

.deletewarehouse {
  background-image: url("../img/delete_warehouse.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 19.17px;
  height: 19.17px;
}

.content-container {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  padding: 15px 30px 35px 30px;
}

.content {
  background-color: rgb(23, 15, 34, 0.78);
  border-radius: 5px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
}

.title {
  display: flex;
  justify-content: space-around;
}

.icon-title {
  background-repeat: no-repeat;
  background-image: url("../img/flag.png");
  background-size: contain;
  width: 24px;
  height: 24px;
}

.content-title {
  font-size: .8em;
  font-weight: bold;
}

.inner-content {
  width: 100%;
  background-color: rgb(23, 15, 34, 0.75);
  margin-top: 20px;
  font-size: .8em;
  padding: 15px;
}

.footer-content {
  padding: 20px;
  font-size: 0.8em;
}


@media (max-width: 1440px) and (min-width: 1366px) {
  .content-container {
    grid-template-columns: repeat(5, auto);
  }
}

@media (max-width: 1280px) and (min-width: 800px ) {
  .content-container {
    grid-template-columns: repeat(4, auto);
  }
}

@media (max-width: 800px) {
  .content-container {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 414px) {
  .content-container {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 375px){
  .content-container {
    grid-template-columns: repeat(1, auto);
  }
}
